* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2rem;
}

body::after {
  position: absolute;
  content: "";
  height: 240px;
  width: 240px;
  background: teal;
  opacity: 50%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 50%;
  top: 20rem;
  right: 10rem;
  position: fixed;
  z-index: -9;
}

body::before {
  position: absolute;
  content: "";
  height: 240px;
  width: 240px;
  background: yellow;
  opacity: 60%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 50%;
  top: 10rem;
  left: 10rem;
  position: fixed;
  z-index: -9;
}

body .container {
  width: 60%;
  margin: 0 auto;
}

body .container .search-bar {
  position: relative;
  width: 360px;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  -webkit-animation: search-motion 1s linear;
          animation: search-motion 1s linear;
}

body .container .search-bar i {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: whitesmoke;
  left: 0.4rem;
}

body .container .search-bar input {
  width: 100%;
  height: 100%;
  color: white;
  background: black;
  border-radius: 0.5rem;
  padding: 0 2rem;
}

@-webkit-keyframes search-motion {
  from {
    margin-top: -4rem;
    opacity: 0%;
  }
  to {
    margin-top: 0rem;
    opacity: 100%;
  }
}

@keyframes search-motion {
  from {
    margin-top: -4rem;
    opacity: 0%;
  }
  to {
    margin-top: 0rem;
    opacity: 100%;
  }
}

body .container .images-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .images-gallery .image {
  overflow: hidden;
  width: 180px;
  height: 240px;
  position: relative;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 128, 128, 0.3);
          box-shadow: 0 0 1rem rgba(0, 128, 128, 0.3);
}

body .container .images-gallery .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  -webkit-filter: saturate(0.1);
          filter: saturate(0.1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

body .container .images-gallery .image p {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  bottom: 0.6rem;
  left: 0.3rem;
}

body .container .images-gallery .image:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body footer {
  height: 4rem;
  margin-top: 4rem;
  width: 100%;
  color: whitesmoke;
  background: black;
  padding: 1rem;
  position: static;
  bottom: 0;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 800;
}

body footer .container span:nth-child(2), body footer .container span:nth-child(3) {
  font-size: 0.8rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  body .container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  body .container {
    width: 94%;
  }
  body .container .search-bar {
    width: 332px;
  }
  body .container .images-gallery .image {
    height: 200px;
    width: 150px;
  }
  body footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */